.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}

.action-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
