<div *ngIf="!loading && tradingState != null; else elseBlock" class="row">
  <!--
    <div class="row">
      <div class="col-xs-3 form-container">
        <mat-form-field>
          <input matInput [(ngModel)]="shortExchangeRate" type="number" placeholder="美元现汇买入价" required class="right-align" (keyup)="onKeyupShortExchangeRate($event)">
          <span matSuffix>&nbsp;USD/CNY </span>
        </mat-form-field>
      </div>
      <div class="col-xs-3 form-container">
        <mat-form-field>
          <input matInput [(ngModel)]="longExchangeRate" type="number" placeholder="美元现汇卖出价" required class="right-align" (keyup)="onKeyupLongExchangeRate($event)">
          <span matSuffix>&nbsp;USD/CNY</span>
        </mat-form-field>
      </div>
    </div>
  -->
  <div class="col-xs-6">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon class="md-48">trending_down</mat-icon>
        </div>
        <mat-card-title><h3>做空策略</h3></mat-card-title>
        <mat-card-subtitle>卖出SGX {{tradingState.sgxInstrument.symbol}} 买入DCE {{tradingState.dceInstrument.symbol}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th class="right-align">价格</th>
            <th class="right-align">手</th>
          </tr>
          </thead>
          <tr>
            <th>当前操作</th>
            <td>
              <h3><span class="label" [ngClass]="{
                'label-default': tradingState.lastAction === 'NONE',
                'label-success': tradingState.lastAction === 'SHORT' || tradingState.lastAction === 'SHORT_AGAIN',
                'label-warning': tradingState.lastAction === 'CLOSE_SHORT',
                'label-danger':  tradingState.lastAction === 'STOP_SHORT_LOSS'
              }">{{lookupTradingAction(tradingState.lastAction)}}</span></h3>
            </td>
            <td class="right-align">{{tradingState.tradingPosition.shortPosition}}</td>
          </tr>
          <tr>
            <th>SGX {{tradingState.sgxInstrument.symbol}} 最高买入价（美元）</th>
            <td class="success right-align">{{tradingState.sgxBestBid.price}}</td>
            <td class="success right-align">{{tradingState.sgxBestBid.size}}</td>
          </tr>
          <tr>
            <td colspan="3">
              <mat-accordion *ngIf="tradingState.sgxBidStack">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{tradingState.sgxInstrument.symbol}} Bid Stack [{{tradingState.sgxBidStack.length}}]</mat-panel-title>
                    <mat-panel-description>{{tradingState.sgxBidStack[0].timestamp | date:'MMM d, HH:mm:ss.SSS'}}</mat-panel-description>
                  </mat-expansion-panel-header>
                  <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                      <th>Position</th>
                      <th class="right-align">Price</th>
                      <th class="right-align">Size</th>
                      <th>Time</th>
                    </tr>
                    <tr *ngFor="let order of tradingState.sgxBidStack">
                      <td>{{order.positionNo}}</td>
                      <td class="right-align">{{order.price | number}}</td>
                      <td class="right-align">{{order.size}}</td>
                      <td>{{order.timestamp | date:'HH:mm:ss.SSS'}}</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
          </tr>
          <tr>
            <th>美元现汇买入价</th>
            <td class="warning">
              <input matInput [(ngModel)]="shortExchangeRate" type="number" placeholder="美元现汇买入价" required class="right-align" (keyup)="onKeyupShortExchangeRate($event)">
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>等效人民币价格</th>
            <td class="info right-align">{{calculateSgxBestBidPriceInCny() | number}}</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>DCE {{tradingState.dceInstrument.symbol}} 最低卖出价</th>
            <td class="success right-align">{{tradingState.dceBestAsk.price}}</td>
            <td class="success right-align">{{tradingState.dceBestAsk.size}}</td>
          </tr>
          <tr>
            <td colspan="3">
              <mat-accordion *ngIf="tradingState.dceAskStack">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{tradingState.dceInstrument.symbol}} Ask Stack [{{tradingState.dceAskStack.length}}]</mat-panel-title>
                    <mat-panel-description>{{tradingState.dceAskStack[0].timestamp | date:'MMM d, HH:mm:ss.SSS'}}</mat-panel-description>
                  </mat-expansion-panel-header>
                  <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                      <th>Position</th>
                      <th class="right-align">Price</th>
                      <th class="right-align">Size</th>
                      <th>Time</th>
                    </tr>
                    <tr *ngFor="let order of tradingState.dceAskStack">
                      <td>{{order.positionNo}}</td>
                      <td class="right-align">{{order.price | number}}</td>
                      <td class="right-align">{{order.size}}</td>
                      <td>{{order.timestamp | date:'HH:mm:ss.SSS'}}</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
          </tr>
          <tr>
            <th>价差（卖出SGX-买入DCE）</th>
            <td class="info right-align"><h3>{{calculateSgxBestBidPriceInCny() - tradingState.dceBestAsk.price | number}}</h3></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>建议操作</th>
            <td>
              <h3><span class="label" [ngClass]="{
                'label-default': tradingState.nextAction === 'NONE',
                'label-success': tradingState.nextAction === 'SHORT' || tradingState.nextAction === 'SHORT_AGAIN',
                'label-warning': tradingState.nextAction === 'CLOSE_SHORT',
                'label-danger':  tradingState.nextAction === 'STOP_SHORT_LOSS'
              }">{{lookupTradingAction(tradingState.nextAction)}}</span></h3>
            </td>
            <td class="right-align">{{proposedShortSize}}</td>
          </tr>
        </table>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Parameters</mat-panel-title>
              <mat-panel-description>Short Strategy</mat-panel-description>
            </mat-expansion-panel-header>

            <table class="table table-striped table-hover table-condensed">
              <tr>
                <th>港杂费</th>
                <td class="warning right-align">{{tradingParameters.miscellaneousCharge}}</td>
              </tr>
              <tr>
                <th>基准价差</th>
                <td class="warning right-align">{{tradingParameters.average}}</td>
              </tr>
              <tr>
                <th>触发做空建仓</th>
                <td class="warning right-align">> {{tradingParameters.average + tradingParameters.shortStart}}</td>
              </tr>
              <tr>
                <th>触发做空平仓</th>
                <td class="warning right-align">< {{tradingParameters.average + tradingParameters.shortClose}}</td>
              </tr>
              <tr>
                <th>触发做空止损</th>
                <td class="warning right-align">>{{tradingParameters.average + tradingParameters.shortStopLoss}}</td>
              </tr>
              <tr>
                <th>触发做空止损后再建仓</th>
                <td class="warning right-align">>{{tradingParameters.average + tradingParameters.shortStartAgain}}</td>
              </tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-content>
      <mat-card-actions>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="shortSize" type="number" placeholder="Short Size" required class="right-align">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="openShort()" [disabled]="tradingState.lastAction === 'STOP_SHORT_LOSS'">Open Short</button>
        <button mat-raised-button color="accent" (click)="closeShort()" [disabled]="tradingState.tradingPosition.shortPosition <= 0">Close Short</button>
        <button mat-raised-button color="warn" (click)="stopShortLoss()" [disabled]="tradingState.tradingPosition.shortPosition <= 0">Stop Loss</button>
        <button mat-raised-button color="primary" (click)="openShortAgain()" [disabled]="tradingState.lastAction !== 'STOP_SHORT_LOSS'">Start Short Again</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-xs-6">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon class="md-48">trending_up</mat-icon>
        </div>
        <mat-card-title><h3>做多策略</h3></mat-card-title>
        <mat-card-subtitle>买入SGX {{tradingState.sgxInstrument.symbol}} 卖出DCE {{tradingState.dceInstrument.symbol}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th>价格</th>
            <th>手</th>
          </tr>
          </thead>
          <tr>
            <th>当前操作</th>
            <td><h3>
              <span class="label" [ngClass]="{
                'label-default': tradingState.lastAction === 'NONE',
                'label-success': tradingState.lastAction === 'LONG' || tradingState.lastAction === 'LONG_AGAIN',
                'label-warning': tradingState.lastAction === 'CLOSE_LONG',
                'label-danger':  tradingState.lastAction === 'STOP_LONG_LOSS'
              }">{{lookupTradingAction(tradingState.lastAction)}}</span>
            </h3></td>
            <td class="right-align">{{tradingState.tradingPosition.longPosition}}</td>
          </tr>
          <tr>
            <th>SGX {{tradingState.sgxInstrument.symbol}} 最低卖出价（美元）</th>
            <td class="success right-align">{{tradingState.sgxBestAsk.price}}</td>
            <td class="success right-align">{{tradingState.sgxBestAsk.size}}</td>
          </tr>
          <tr>
            <td colspan="3">
              <mat-accordion *ngIf="tradingState.sgxAskStack">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{tradingState.sgxInstrument.symbol}} Ask Stack [{{tradingState.sgxAskStack.length}}]</mat-panel-title>
                    <mat-panel-description>{{tradingState.sgxAskStack[0].timestamp | date:'MMM d, HH:mm:ss.SSS'}}</mat-panel-description>
                  </mat-expansion-panel-header>
                  <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                      <th>Position</th>
                      <th class="right-align">Price</th>
                      <th class="right-align">Size</th>
                      <th>Time</th>
                    </tr>
                    <tr *ngFor="let order of tradingState.sgxAskStack">
                      <td>{{order.positionNo}}</td>
                      <td class="right-align">{{order.price | number}}</td>
                      <td class="right-align">{{order.size}}</td>
                      <td>{{order.timestamp | date:'HH:mm:ss.SSS'}}</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
          </tr>
          <tr>
            <th>美元现汇卖出价</th>
            <td class="warning">
              <input matInput [(ngModel)]="longExchangeRate" type="number" placeholder="美元现汇卖出价" required class="right-align" (keyup)="onKeyupLongExchangeRate($event)">
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>等效人民币价格</th>
            <td class="info right-align">{{calculateSgxBestAskPriceInCny() | number}}</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>DCE {{tradingState.dceInstrument.symbol}} 最高买入价</th>
            <td class="success right-align">{{tradingState.dceBestBid.price}}</td>
            <td class="success right-align">{{tradingState.dceBestBid.size}}</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3">
              <mat-accordion *ngIf="tradingState.dceBidStack">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{tradingState.dceInstrument.symbol}} Bid Stack [{{tradingState.dceBidStack.length}}]</mat-panel-title>
                    <mat-panel-description>{{tradingState.dceBidStack[0].timestamp | date:'MMM d, HH:mm:ss.SSS'}}</mat-panel-description>
                  </mat-expansion-panel-header>
                  <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                      <th>Position</th>
                      <th class="right-align">Price</th>
                      <th class="right-align">Size</th>
                      <th>Time</th>
                    </tr>
                    <tr *ngFor="let order of tradingState.dceBidStack">
                      <td>{{order.positionNo}}</td>
                      <td class="right-align">{{order.price | number}}</td>
                      <td class="right-align">{{order.size}}</td>
                      <td>{{order.timestamp | date:'HH:mm:ss.SSS'}}</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
          </tr>
          <tr>
            <th>价差 (买入SGX-卖出DCE)</th>
            <td class="info right-align"><h3>{{calculateSgxBestAskPriceInCny() - tradingState.dceBestBid.price | number}}</h3></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>建议操作</th>
            <td>
              <h3><span class="label" [ngClass]="{
                'label-default': tradingState.nextAction === 'NONE',
                'label-success': tradingState.nextAction === 'LONG' || tradingState.nextAction === 'LONG_AGAIN',
                'label-warning': tradingState.nextAction === 'CLOSE_LONG',
                'label-danger':  tradingState.nextAction === 'STOP_LONG_LOSS'
              }">{{lookupTradingAction(tradingState.nextAction)}}</span></h3>
            </td>
            <td class="right-align">{{proposedLongSize}}</td>
          </tr>
        </table>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Parameters</mat-panel-title>
              <mat-panel-description>Long Strategy</mat-panel-description>
            </mat-expansion-panel-header>

            <table class="table table-striped table-hover table-condensed">
              <tr>
                <th>港杂费</th>
                <td class="warning right-align">{{tradingParameters.miscellaneousCharge}}</td>
              </tr>
              <tr>
                <th>基准价差</th>
                <td class="warning right-align">{{tradingParameters.average}}</td>
              </tr>
              <tr>
                <th>触发做多建仓</th>
                <td class="warning right-align">< {{tradingParameters.average - tradingParameters.longStart}}</td>
              </tr>
              <tr>
                <th>触发做多平仓</th>
                <td class="warning right-align">> {{tradingParameters.average - tradingParameters.longClose}}</td>
              </tr>
              <tr>
                <th>触发做多止损</th>
                <td class="warning right-align">< {{tradingParameters.average - tradingParameters.longStopLoss}}</td>
              </tr>
              <tr>
                <th>触发做空止损后再建仓</th>
                <td class="warning right-align">< {{tradingParameters.average - tradingParameters.longStartAgain}}</td>
              </tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-content>
      <mat-card-actions>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="longSize" type="number" placeholder="Long Size" required class="right-align">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="openLong()" [disabled]="tradingState.lastAction === 'STOP_LONG_LOSS'">Open Long</button>
        <button mat-raised-button color="accent" (click)="closeLong()" [disabled]="tradingState.tradingPosition.longPosition <= 0">Close Long</button>
        <button mat-raised-button color="warn" (click)="stopLongLoss()" [disabled]="tradingState.tradingPosition.longPosition <= 0">Stop Loss</button>
        <button mat-raised-button color="primary" (click)="openLongAgain()" [disabled]="tradingState.lastAction !== 'STOP_LONG_LOSS'">Start Long Again</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>
