<div class="row">
  <div class="col">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <h3>上期所合约</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="example-radio-group" [(ngModel)]="selectedShfeInstrument">
          <div *ngFor="let instrument of shfeInstruments | async">
            <mat-checkbox [(ngModel)]="instrument.hidden" [disabled]="true">隐藏</mat-checkbox>&nbsp;
            <mat-radio-button class="example-radio-button" [value]="instrument">
              {{instrument.productName}} {{instrument.symbol}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})<br />
            </mat-radio-button>
          </div>
        </mat-radio-group>
        <app-instrument-details [instrument]="selectedShfeInstrument"></app-instrument-details>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <h3>大商所合约</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="example-radio-group" [(ngModel)]="selectedDceInstrument">
          <div *ngFor="let instrument of dceInstruments | async">
            <mat-checkbox [(ngModel)]="instrument.hidden" [disabled]="true">隐藏</mat-checkbox>&nbsp;
            <mat-radio-button class="example-radio-button" [value]="instrument">
              {{instrument.productName}} {{instrument.symbol}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})
              <br />
            </mat-radio-button>
          </div>
        </mat-radio-group>
        <app-instrument-details [instrument]="selectedDceInstrument"></app-instrument-details>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <h3>郑商所合约</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="example-radio-group" [(ngModel)]="selectedCzceInstrument">
          <div *ngFor="let instrument of czceInstruments | async">
            <mat-checkbox [(ngModel)]="instrument.hidden" [disabled]="true">隐藏</mat-checkbox>&nbsp;
            <mat-radio-button class="example-radio-button" [value]="instrument">
              {{instrument.productName}} {{instrument.symbol}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})<br />
            </mat-radio-button>
          </div>
        </mat-radio-group>
        <app-instrument-details [instrument]="selectedCzceInstrument"></app-instrument-details>
      </mat-card-content>
    </mat-card>
  </div>
</div>
