<mat-card *ngIf="instrument" class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>{{instrument.productName}} {{instrument.symbol}}</mat-card-title>
    <mat-card-subtitle>{{instrument.maturity.monthLabel}}{{instrument.maturity.year}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="text-monospace">详细信息: {{instrument | json}}</div>
  </mat-card-content>
  <mat-card-actions>
    <mat-checkbox [(ngModel)]="instrument.hidden" [required]="true" (change)="onHiddenToggle()">隐藏</mat-checkbox>
  </mat-card-actions>
</mat-card>
