<mat-accordion *ngIf="selectedStrategy">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>策略 - {{selectedStrategy.name}} ({{selectedStrategy.id}})</mat-panel-title>
      <mat-panel-description>
        {{selectedStrategy.contract1Coefficient}} * {{selectedStrategy.contract1Symbol}}&nbsp;&nbsp;
        {{selectedStrategy.contract2Coefficient}} * {{selectedStrategy.contract2Symbol}}&nbsp;v
        <ng-container *ngIf="selectedStrategy.contract3Coefficient">{{selectedStrategy.contract3Coefficient}} * {{selectedStrategy.contract3Symbol}}&nbsp;&nbsp;</ng-container>
        <ng-container *ngIf="selectedStrategy.contract4Coefficient">{{selectedStrategy.contract4Coefficient}} * {{selectedStrategy.contract4Symbol}}&nbsp;&nbsp;</ng-container>
        <ng-container *ngIf="selectedStrategy.contract5Coefficient">{{selectedStrategy.contract5Coefficient}} * {{selectedStrategy.contract5Symbol}}&nbsp;&nbsp;</ng-container>
        <ng-container *ngIf="selectedStrategy.contract6Coefficient">{{selectedStrategy.contract6Coefficient}} * {{selectedStrategy.contract6Symbol}}&nbsp;&nbsp;</ng-container>
        {{selectedStrategy.constantFactor}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.state" type="text" placeholder="状态" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.positionDirection" type="text" placeholder="持仓方向" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.marketDirection" type="text" placeholder="基本面方向" [disabled]="true">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract1Lots" type="number" placeholder="{{selectedStrategy.contract1Symbol}} 手数" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract2Lots" type="number" placeholder="{{selectedStrategy.contract2Symbol}} 手数" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col" *ngIf="selectedStrategy.contract3Symbol">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract3Lots" type="number" placeholder="{{selectedStrategy.contract3Symbol}} 手数" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col" *ngIf="selectedStrategy.contract4Symbol">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract4Lots" type="number" placeholder="{{selectedStrategy.contract4Symbol}} 手数" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col" *ngIf="selectedStrategy.contract5Symbol">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract5Lots" type="number" placeholder="{{selectedStrategy.contract5Symbol}} 手数" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col" *ngIf="selectedStrategy.contract6Symbol">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract6Lots" type="number" placeholder="{{selectedStrategy.contract6Symbol}} 手数" [disabled]="true">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.longPriceLevel" type="number" placeholder="做多价差" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.shortPriceLevel" type="number" placeholder="做空价差" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.timestamp" type="datetime-local" placeholder="时间戳" [disabled]="true">
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
