<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedStrategy" placeholder="交易策略" (selectionChange)="selectedStrategyChanged()">
        <mat-option [value]="null">ALL</mat-option>
        <mat-option *ngFor="let strategy of allStrategies | async" [value]="strategy">
          {{strategy.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>编号</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="strategy">
        <mat-header-cell *matHeaderCellDef mat-sort-header>策略</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.tradingStrategy.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>日期</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.date}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="direction">
        <mat-header-cell *matHeaderCellDef mat-sort-header>方向</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.direction}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="operationType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>操作类型</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.operationType}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>状态</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.state}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button *ngIf="!row.isCompleted()" mat-raised-button color="primary" (click)="edit(row)">编辑</button>&nbsp;
          <button *ngIf="row.isActive()" mat-raised-button color="accent" (click)="suspend(row)">暂停</button>
          <button *ngIf="row.isSuspended()" mat-raised-button color="primary" (click)="resume(row)">继续</button>&nbsp;
          <button *ngIf="row.isPending()" mat-raised-button color="warn" (click)="delete(row)">删除</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
  </mat-card-content>
</mat-card>
<br/>
<div *ngIf="selectedStrategy">
  <app-trading-strategy-view [selectedStrategy]="selectedStrategy"></app-trading-strategy-view>
  <br/>
  <div class="action-row">
    <button mat-raised-button color="accent" (click)="newExecution()">新建交易计划</button>&nbsp;
  </div>
  <br/>
  <app-trading-execution-detail *ngIf="selectedOperation" [selectedOperation]="selectedOperation"></app-trading-execution-detail>
</div>
