<p>&nbsp;</p>
<div class="row">
  <div class="col-sm-6">
    <mat-card>
      <h3>SHFE Instruments</h3>
      <mat-radio-group class="example-radio-group" [(ngModel)]="selectedShfeInstrument">
        <div *ngFor="let instrument of shfeInstruments | async">
          <mat-radio-button class="example-radio-button" [value]="instrument">
            {{instrument.symbol}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})<br/>
          </mat-radio-button>
        </div>
      </mat-radio-group>
      <div class="example-selected-value">Your selected Instrument: {{selectedShfeInstrument | json}}</div>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card>
      <h3>DCE Instruments</h3>
      <mat-radio-group class="example-radio-group" [(ngModel)]="selectedDceInstrument">
        <div *ngFor="let instrument of dceInstruments | async">
          <mat-radio-button class="example-radio-button" [value]="instrument">
            {{instrument.symbol}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})<br/>
          </mat-radio-button>
        </div>
      </mat-radio-group>
      <div class="example-selected-value">Your selected Instrument: {{selectedDceInstrument | json}}</div>
    </mat-card>
  </div>
</div>
