<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>策略名称</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="contracts">
        <mat-header-cell *matHeaderCellDef mat-sort-header>合约价差公式</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.contract1Coefficient}} * {{row.contract1Symbol}}&nbsp;
          {{row.contract2Coefficient}} * {{row.contract2Symbol}}&nbsp;
          <ng-container *ngIf="row.contract3Coefficient">{{row.contract3Coefficient}} * {{row.contract3Symbol}}&nbsp;</ng-container>
          <ng-container *ngIf="row.contract4Coefficient">{{row.contract4Coefficient}} * {{row.contract4Symbol}}&nbsp;</ng-container>
          <ng-container *ngIf="row.contract5Coefficient">{{row.contract5Coefficient}} * {{row.contract5Symbol}}&nbsp;</ng-container>
          <ng-container *ngIf="row.contract6Coefficient">{{row.contract6Coefficient}} * {{row.contract6Symbol}}&nbsp;</ng-container>
          {{row.constantFactor}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header>状态</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.state}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="positionDirection">
        <mat-header-cell *matHeaderCellDef mat-sort-header>持仓方向</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.positionDirection}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="marketDirection">
        <mat-header-cell *matHeaderCellDef mat-sort-header>基本面方向</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.marketDirection}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)="editStrategy(row)">编辑</button>&nbsp;
          <button mat-raised-button color="warn" [disabled]="row.isActive()" (click)="deleteStrategy(row)">删除</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
    </mat-paginator>
  </mat-card-content>
</mat-card>
<br/>
<div class="action-row">
  <button mat-raised-button color="accent" (click)="newStrategy()">新建交易策略</button>&nbsp;
</div>
<br/>
<div *ngIf="selectedStrategy">
  <app-trading-strategy-detail [selectedStrategy]="selectedStrategy"></app-trading-strategy-detail>
</div>
