<mat-card *ngIf="selectedStrategy" class="mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="md-48">timeline</mat-icon>
    </div>
    <mat-card-title><h3>策略 - {{selectedStrategy.name}} ({{selectedStrategy.id}})</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.name" type="text" placeholder="策略名" [disabled]="selectedStrategy.isActive()">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.state" type="text" placeholder="状态" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.positionDirection" type="text" placeholder="持仓方向" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="marketDirection">基本面方向</label>
          <mat-radio-group id="marketDirection" class="radio-group" [(ngModel)]="selectedStrategy.marketDirection" [required]="true">
            <mat-radio-button class="radio-button" *ngFor="let choice of DirectionValues" [checked]="selectedStrategy.marketDirection==choice" [value]="choice">
              {{choice}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedStrategy.contract1Symbol" placeholder="合约1" [required]="true" [disabled]="selectedStrategy.isActive()">
            <mat-option *ngFor="let instrument of allInstruments | async" [value]="instrument.symbol">
              {{instrument.symbol}} {{instrument.productName}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract1Coefficient" type="number" placeholder="合约1系数" class="right-align" [required]="true" [disabled]="selectedStrategy.isActive()">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract1Lots" type="number" placeholder="合约1持仓手数" class="right-align" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedStrategy.contract2Symbol" placeholder="合约2" [required]="true" [disabled]="selectedStrategy.isActive()">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let instrument of allInstruments | async" [value]="instrument.symbol">
              {{instrument.symbol}} {{instrument.productName}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract2Coefficient" type="number" placeholder="合约2系数" class="right-align" [required]="true" [disabled]="selectedStrategy.isActive()">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract2Lots" type="number" placeholder="合约2持仓手数" class="right-align" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedStrategy.contract3Symbol" placeholder="合约3" [required]="false" [disabled]="selectedStrategy.isActive()">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let instrument of allInstruments | async" [value]="instrument.symbol">
              {{instrument.symbol}} {{instrument.productName}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract3Coefficient" type="number" placeholder="合约3系数" class="right-align" [required]="false" [disabled]="selectedStrategy.isActive()">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract3Lots" type="number" placeholder="合约3持仓手数" class="right-align" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedStrategy.contract4Symbol" placeholder="合约4" [required]="false" [disabled]="selectedStrategy.isActive()">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let instrument of allInstruments | async" [value]="instrument.symbol">
              {{instrument.symbol}} {{instrument.productName}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract4Coefficient" type="number" placeholder="合约4系数" class="right-align" [required]="false" [disabled]="selectedStrategy.isActive()">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract4Lots" type="number" placeholder="合约4持仓手数" class="right-align" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedStrategy.contract5Symbol" placeholder="合约5" [required]="false" [disabled]="selectedStrategy.isActive()">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let instrument of allInstruments | async" [value]="instrument.symbol">
              {{instrument.symbol}} {{instrument.productName}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract5Coefficient" type="number" placeholder="合约5系数" class="right-align" [required]="false" [disabled]="selectedStrategy.isActive()">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract5Lots" type="number" placeholder="合约5持仓手数" class="right-align" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedStrategy.contract6Symbol" placeholder="合约6" [required]="false" [disabled]="selectedStrategy.isActive()">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let instrument of allInstruments | async" [value]="instrument.symbol">
              {{instrument.symbol}} {{instrument.productName}} ({{instrument.maturity.monthLabel}}{{instrument.maturity.year}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract6Coefficient" type="number" placeholder="合约6系数" class="right-align" [required]="false" [disabled]="selectedStrategy.isActive()">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.contract6Lots" type="number" placeholder="合约6持仓手数" class="right-align" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.constantFactor" type="number" placeholder="常数项系数" class="right-align" [required]="true" [disabled]="selectedStrategy.isActive()">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.longPriceLevel" type="number" placeholder="做多价差" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.shortPriceLevel" type="number" placeholder="做空价差" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <input matInput [(ngModel)]="selectedStrategy.timestamp" type="datetime-local" placeholder="时间戳" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-checkbox [checked]="recordHistory" (change)="onChangeRecordHistory()">记录历史价差</mat-checkbox>
      </div>
      <div class="col-4" *ngIf="recordHistory">
        <button mat-raised-button color="primary" (click)="exportCSV()">Export as CSV</button>
        <hot-table
          [hotId]="hotId"
          [data]="historyPriceLevels"
          [columns]="columns"
          [height]="options.height"
          [rowHeaders]="options.rowHeaders"
          [startRows]="options.startRows"
          [stretchH]="options.stretchH"
          [columnSorting]="options.columnSorting"
          [contextMenu]="options.contextMenu"
          [className]="options.className"
          [readOnly]="options.readOnly"
        >
        </hot-table>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="saveStrategy()">保存</button>&nbsp;
    <button mat-raised-button color="warn" (click)="cancelChanges()">取消</button>
  </mat-card-actions>
</mat-card>
