.action-row {
  display: flex;
  align-items: center;
}

.right-align {
  text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
}

.radio-group {
  display: inline-flex;
  flex-direction: row;
}

.radio-button {
  margin: 5px;
}
