<h3>
  {{symbol}}<br/>
  <small>
    总手数: {{sumLots()}} | 成交手数: {{+operationLots}}<br/>
    当前持仓: {{+strategyLots}}<br/>
  </small>
</h3>
<hot-table
  [hotId]="symbol"
  [data]="executions"
  [columns]="columns"
  [height]="options.height"
  [rowHeaders]="options.rowHeaders"
  [startRows]="options.startRows"
  [stretchH]="options.stretchH"
  [columnSorting]="options.columnSorting"
  [contextMenu]="options.contextMenu"
  [className]="options.className"
  [readOnly]="options.readOnly"
  [afterCreateRow]="onAfterCreateRow">
</hot-table>
