<div *ngIf="selectedExecution">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="md-48">playlist_play</mat-icon>
      </div>
      <mat-card-title><h3>{{selectedExecution.tradingStrategy?.name}} ({{selectedExecution.id}})</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput [(ngModel)]="selectedExecution.date" type="date" placeholder="日期" [required]="true">
          </mat-form-field>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="executionAction">执行动作</label>
            <mat-radio-group id="executionAction" class="radio-group" [(ngModel)]="selectedExecution.executionAction" [required]="true">
              <mat-radio-button class="radio-button" *ngFor="let choice of ExecutionActionValues" [checked]="selectedExecution.executionAction==choice" [value]="choice">
                {{choice}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput [(ngModel)]="selectedExecution.numberOfBatch" type="number" placeholder="批次" [required]="true">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput [(ngModel)]="selectedExecution.startTime" type="time" placeholder="开始时间" [required]="true">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput [(ngModel)]="selectedExecution.interval" type="number" placeholder="间隔时间（分钟）" [required]="true">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveExecution()">Save</button>&nbsp;
      <button mat-raised-button color="warn" (click)="cancelChanges()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
